@import '../../styles/variables.scss';

.button {
  display: block;
  margin: 10px auto;
  padding: 1rem 3rem;
  color: $light;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  background-color: $dark;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 20rem;

  &:hover {
    color: #a9ff40;
    transform: scale(1.05);
  }
}
